[user]
	name = <your name>
	email = <your github email>

[init]
	defaultBranch = main
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process

[alias]
	# GIT
    ap = 	"!f() { name=\"Eric/$1\" && branch=$(echo \"$name\" | tr ' ' '_') && git add . && git commit -m \"$name\" && git push origin $(git symbolic-ref --short HEAD) && git checkout main; }; f"
    ac = 	"!f() { name=\"Eric/$1\" && branch=$(echo \"$name\" | tr ' ' '_') && git add . && git commit -m \"$name\"; }; f"
    tt = 	"!f() { name=\"Eric/$1\" && branch=$(echo \"$name\" | tr ' ' '_') && git checkout -b \"$branch\" && git add . && git commit -m \"$name\" && git push origin $(git symbolic-ref --short HEAD) && git checkout main; }; f"
    new = 	"!f() { name=\"Eric/$1\" && branch=$(echo \"$name\" | tr ' ' '_') && git checkout -b \"$branch\"; }; f"
    br = 	"!f() { name=\"Eric/$1\" && branch=$(echo \"$name\" | tr ' ' '_') && git checkout \"$branch\"; }; f"
    del = 	"!f() { name=\"Eric/$1\" && branch=$(echo \"$name\" | tr ' ' '_') && git branch -D \"$branch\" && git push orgin --delete \"$branch\"; }; f"
    ig = 	"!f() { name=\"Eric/$1\" && branch=$(echo \"$name\" | tr ' ' '_') && git add .gitignore && git commit -m \"Change gitignore\"; }; f"
	depot = "!f() { depot=\"$1\" && depot=$(echo \"$depot\" | tr ' ' '_')       && url=\"$2\" && echo \"# $depot\" >> README.md && git init && git add README.md && git commit -m \"first commit\" && git branch -M main && git remote add origin $url && git push -u origin main; }; f"
    cached = "!f() { file=\"$1\" && git rm --cached -r $file && git add . && git commit -m \"remote : $file\" && git push && git push origin $(git symbolic-ref --short HEAD) && git checkout main;}; f"


    main = "!sh -c 'git checkout main'"
 
	# NPM
    d = "!sh -c 'npm run dev -- --open'"
    b = "!sh -c 'npm run build'"
    i = "!sh -c 'npm install'"

	# DOCKER
	up = "!sh -c 'docker compose up -d'"

[color "branch"]
	current = red
	local = yellow
[color]
	status = true
	pager = true
	ui = true
	diff = auto
	whitespace = normal
